.single {
  background-image: url("https://thumbs.dreamstime.com/z/healthy-clean-eating-layout-vegetarian-food-diet-nutrition-concept-various-fresh-vegetables-ingredients-salad-white-105567339.jpg?w=992");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  padding: 6%;
  padding-bottom: 0.7%;
}

#space {
  margin: auto 1%;
}

.h2title {
  text-align: center;
}

.box {
  padding: 1%;
  text-align: center;
  font-size: 1.5rem;
}

.row2 {
  border: 2px solid green;
  border-style: double;
  width: 50%;
  justify-self: center;
  margin: auto;
  font-size: 1.05rem;
}

#btn {
  margin: 1% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  width: 15%;
  height: 100%;
  position: relative;
  bottom: 5%;
}

.home {
  display: flex;
  justify-content: left;
  padding-left: 150px;
}

.p1 {
  font-weight: bold;
  margin: auto;
}

#button {
  float: right;
  padding: 1%;
  color: black;
}

.personal {
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=732&q=80");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
  padding-bottom: 0%;
  padding-right: 2%;
}

.containerper {
  text-align: right;
}

.h2personal {
  font-weight: bold;
}

.textField {
  background-color: white;
}

#home2 {
  display: flex;
  justify-content: left;
  width: 6%;
  height: 6%;
  position: relative;
  left: 35%;
}

.standard {
  background-image: url("https://img.freepik.com/free-photo/healthy-green-vegetarian-buddha-bowl-lunch-with-eggs-rice-tomato-avocado-blue-cheese-table_2829-18801.jpg?w=900&t=st=1690993707~exp=1690994307~hmac=587831ef170689672848be885c61b9f6cc994011164072196d293e6f436ff34a");
  background-position: right;
  background-size: 100%;
  background-attachment: fixed;
}

.container3 {
  text-align: left;
  padding: 5% 2%;
}

#home3 {
  display: block;
  position: relative;
  width: 6%;
  height: 6%;
  left: 95%;
  margin-bottom: 0%;
}

.title2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}

.detail {
  text-align: center;
  font-size: 1.5rem;
}

.recipeImg {
  padding-top: 10%;
  padding-left: 25%;
}

#detail {
  font-size: 1.5rem;
  padding-left: 30%;
}

.div {
  font-size: 20px;
}
