.h5 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(222, 138, 138, 0.7);
}

.image {
  width: 400px;
  height: 300px;
  position:absolute;
  top: 100px;
  left: 100px
}

.modal {
  position: fixed;
  background: rgb(195, 249, 186);
  top: 20px;
  bottom: 20px;
  left: 60px;
  width: 90%;
  z-index: 100;
  overflow-y: auto;
  margin: 10px 10px;
}
