.nutrition-facts {
    border: 1px solid blue;
    margin: 10px 200px;
    width: 400px;
    padding: 5px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid blue;
}